*{
      margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main{
min-height: 100vh;
width: 100%;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;

}

.header b{
    color:lightgreen;
    padding: 5px;
    letter-spacing: 1px;
}

.game{

display: flex;
justify-content: space-evenly;
align-items: center;
}

.image img{
    width: 150px;
}

.rotate {
  animation: diceRoll 1s linear;
}

@keyframes diceRoll {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.player h2{
    letter-spacing: 1px;
}

#player-button{
    background-color: rgb(26, 197, 26);
    color: aliceblue;
    padding: 5px;
}
.player Button:disabled {
    background-color: black;
    cursor: not-allowed;
    color: aliceblue;
}

.reset{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.reset-button{
    background-color: rgb(255, 67, 34);
    padding: 5px;
    color: antiquewhite;
    width: 100px;
}
